<header>
  <div class="row topline">
    <div class="six columns login">
      <? if ($this->customer): ?>
        Welcome, <?= h($this->customer->first_name) ?>!
        <a href="<?= root_url('logout') ?>">Logout</a>
      <? else: ?>
        <a href="<?= root_url('login') ?>">Login or Register</a>
      <? endif ?>
    </div>
    <div class="six columns">
      <div class="row">
        <div class="seven columns">
          <?= open_form(array('class'=>'search', 'method'=>'get', 'action'=>root_url('search'))) ?>
            <input type="text" name="query" value="<?= isset($query) ? $query : null ?>" placeholder="Search store&hellip;"/>
          <?= close_form() ?>
        </div>
        <div class="five columns" id="mini-cart"><?= $this->render_partial('shop:mini_cart') ?></div>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="four columns"><?= Shop_CompanyInformation::get()->name ? Shop_CompanyInformation::get()->name : 'Zest' ?></h1>
    <div class="eight columns">
      <ul class="nav-bar">
        <? $active_page = isset($active_page) ? $active_page : 'home' ?>
        <li class="<?= $active_page == 'home' ? 'active' : null ?>"><a href="<?= root_url('/') ?>">Home</a></li>
        <li class="has-flyout <?= $active_page == 'shop' ? 'active' : null ?>">
          <a href="<?= root_url('shop') ?>">Shop</a>
          <a class="flyout-toggle" href="<?= site_url('shop') ?>"><span> </span></a>
          <ul class="flyout" style="display: none;">
            <? foreach (Shop_Category::create()->list_root_children() as $category): ?>
              <li><a href="<?= $category->page_url('/category') ?>"><?= h($category->name) ?></a></li>
            <? endforeach ?>
          </ul>
        </li>
        <? if ($this->customer): ?>
          <li class="<?= $active_page == 'orders' ? 'active' : null ?>"><a href="<?= root_url('orders') ?>">My Orders</a></li>
          <li class="<?= $active_page == 'profile' ? 'active' : null ?>"><a href="<?= root_url('profile') ?>">My Profile</a></li>
        <? endif ?>
        <!--<li class="<?= $active_page == 'about' ? 'active' : null ?>"><a href="<?= root_url('about') ?>">About</a></li>
        <li class="<?= $active_page == 'contact' ? 'active' : null ?>"><a href="<?= root_url('contact') ?>">Contact</a></li>-->
        <li class="<?= $active_page == 'blog' ? 'active' : null ?>"><a href="<?= root_url('blog') ?>">Blog</a></li>
        <li class="<?= $active_page == 'ras-blog-posts' ? 'active' : null ?>"><a href="<?= root_url('ras-blog-posts') ?>">Ras's Blog</a></li>
        <li class="<?= $active_page == 'ras-products' ? 'active' : null ?>"><a href="<?= root_url('ras-products') ?>">Ras's Products</a></li>
        <li class="<?= $active_page == 'on-sale' ? 'active' : null ?>"><a href="<?= root_url('on-sale') ?>">On Sale</a></li>
      </ul>
    </div>
  </div>
  
  <? if (isset($title_area) && $title_area): ?>
    <div class="row secondhead">
      <div class="twelve columns omega">
        <!-- 
          If the block 'title' is defined on the page, output it. 
          Otherwise output the H2 element with the current page's title. 
        -->
        <? $this->render_block('title', '<h2 class="left">'.h($this->page->title).'</h2>') ?>
        <div class="right">
          <? $this->render_block('breadcrumbs') ?>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  <? endif ?>
</header>